.job-highlight {
  padding: 2px 5px;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
}

.job-highlight-green {
  background-color: #16a34a;
}

.job-highlight-blue {
  background-color: #2563eb;
}

.job-highlight-red {
  background-color: #aa0000;
}